:root {
	--text: #f1e4e6;
	--text-placeholder: #9b8a8dae;
	--background: #11090a;
	--primary: #d2a7b1;
	--secondary: #7a2936;
	--accent: #c36950;
	--background-card: #2e2e2e;
}

/*  RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: inherit;
}

html {
	line-height: 1.5;
}

body {
	font-size: 100%;
	font-family: "Noto Sans Mahajani", sans-serif;
	font-weight: 400;
	background-color: var(--background);
	color: var(--text);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Noto Sans Mahajani", sans-serif;
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input {
	background: none;
	border: none;
	color: var(--text);
	text-align: end;
	padding-right: 1rem;
}

.text {
	color: var(--text);
}

.nav-link:hover{
	color: var(--accent);
	font-weight: bold;
}

.bg {
	background-color: var(--background);
}

.btn-orange {
	background-color: var(--accent);
	color: var(--text);
}

.btn-orange:hover {
	background-color: var(--accent);
	color: var(--text);
	opacity: 0.8;
}

.custom-input,
.custom-input:focus {
	color: var(--text);
	border: none;
}

.custom-input::placeholder {
	color: var(--text-placeholder);
}

.custom-gradient {
	background: linear-gradient(to right, var(--background), var(--accent));
}

.custom-style-left,
.custom-style-right {
	width: 8rem;
	padding: 1rem;
	background-color: var(--accent);
	color: var(--text);
	line-height: 1.2;
}

.custom-style-left {
	left: -8rem;
}
.custom-style-right {
	right: -8rem;
}

.custom-section {
	width: 55rem;
	height: 35rem;
}

.custom-background-login,
.custom-background-signup {
	background: url("./src/img/bkg.jpg") no-repeat;
	background-size: cover;
}

.custom-background-login {
	background-position: left center;
}
.custom-background-signup {
	background-position: right center;
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.custom-carousel {
	max-width: 800px;
	max-height: 440px;
	margin: auto;
}

.custom-carousel img {
	object-fit: cover;
	height: 450px;
}

.error-message {
	height: 1.5rem;
	transition: opacity 0.2s ease;
	font-size: 0.875rem;
}
.no-after::after{
	content: none !important;
}

/* Css próximos eventos */ 
.container-events {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;  
  margin-bottom: 30px;
}

.search label input {
  font-size: 20px;
  text-align: left;
  width: 80%;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 15px;
  background-color: var(--background);
}

.list-cards {
  background-color: var(--accent);
}

.pagination button {
  margin: 0 10px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--accent);
  color: var(--text);
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: var(--text);
  cursor: not-allowed;
}

/* Estilização Cards */
.card{
	width: 300px;
	height: 450px;
	background-color: var(--background-card);
  color: var(--text);
}

.card::-webkit-scrollbar {
  padding: 20px;
  width: 12px;
  background-color: var(--background-card);
  border: 5px solid var(--background-card);
  border-radius: 50px;
}

.card::-webkit-scrollbar-thumb{
  background-color: var(--accent);
  border-radius: 50px;
  border: 2px solid var(--background-card);
}

.footer{
	font-size: 20px;
	color: var(--accent);
}


/* MEDIA QUERIES */

/* Mobile - dispositivos menores que 480px */
@media (max-width: 479.98px) {
}

/* Extra Small (xs) - dispositivos menores que 576px */
@media (max-width: 575.98px) {
}

/* Small (sm) - dispositivos a partir de 576px */
@media (min-width: 576px) {
}

/* Medium (md) - dispositivos a partir de 768px*/
@media (min-width: 768px) {
}

/* Large (lg) - dispositivos a partir de 992px */
@media (min-width: 992px) {
}

/* Extra Large (xl) - dispositivos a partir de 1200px */
@media (min-width: 1200px) {
}

/* Extra Extra Large (xxl) - dispositivos a partir de 1400px  */
@media (min-width: 1400px) {
}
